
<div class="d-flex me-10">
    <div class="p-2 flex-fill">
        <button type="button" class="btn btn-warning d-flex align-items-center">
            <i class="fa-solid fa-cloud-arrow-up me-2"></i>
            Importer
        </button>
    </div>
    <div class="p-2 flex-fill">
        <button type="button" class="btn btn-success d-flex align-items-center">
            <i class="fa-solid fa-cloud-arrow-down me-2"></i>
            Exporter
        </button>
    </div>
    <div class="p-2 flex-fill">
        <button type="button" class="btn btn-primary d-flex align-items-center">
            <i class="fa-solid fa-solid fa-plus me-2"></i>
            Nouveau
        </button>
    </div>
</div>
