<div class=" row mb-1 custom-border ms-2 me-0">
 

    <!--Date-->  
    <div class="col-md-3 border-right mt-1 mb-1">
        <div class="col  ">
           <div class="row text-center">
              <div class="col">Code article</div>
           </div>   
        </div>
    </div>

    <!--Stock--> 
    <div class="col-md-3 border-right mt-1 mb-1" >
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>
            Designation article
          </h5>
        </div>
      </div>
    </div>

    <!--Sortie-RENTREE--> 
    <div class="col-md-2 border-right mt-1 mb-1" >
      <div class="row">
        <div class="col-md-12 text-center">
          <h5>
            6
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-2 border-right mt-1 mb-1" >
        <div class="row">
          <div class="col-md-12 text-center">
            <h5>
              12.3
            </h5>
          </div>
        </div>
      </div>

    <!--Commande--> 
    <div class="col-md-2 mt-1 mb-1">
        <div class="row text-center">
          <h5>
            73.8 
          </h5>
          
        </div>
    </div>
</div>
