<div class=" row mb-1 custom-border ms-2 me-0">
    <!---images-->
        <div class="col-md-2  border-right p-2 text-center  mt-1 mb-1">
            <img src="assets/product.avif" width="100px" height="100px">
        </div>  

    <!--details-articles-->  
    <div class="col-md-4 border-right mt-1 mb-1">
        <div class="col  ">
          <div class="row" >
            <div class="col-auto ms-md-2 color-blue"><i class="fa-solid fa-circle-info"></i></div>
            <div class="col">Code article</div>
        </div>
        
            <div class="row">
                <div class="col-auto ms-md-2 color-blue"><i class="fa-solid fa-circle-info"></i> </div>
                <div class="col">designation</div>
              </div>
              <div class="row ">
                <div class="col-auto ms-md-2 color-blue"><i class="fa-solid fa-hand-holding-dollar"></i> </div>
                <div class="col">Prix HT</div>
              </div>
              <div class="row">
                <div class="col-auto ms-md-2 color-blue"><i class="fa-solid fa-hand-holding-dollar"></i> </div>
                <div class="col">Prix TTC</div>
              </div>
        </div>
    </div>

    <!--details-catégories--> 
    <div class="col-md-3 border-right mt-1 mb-1" >
     <div class="row">
      <div class="col-md-2 color-blue">
        <i class="fa-solid fa-flag-checkered"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Code categorie</div>
          <div class="col-md-12">Description categorie</div>
        </div>
      </div>
    </div>
  </div>

    <!--bouttons d'action--> 
    <div class="col-md-3 mt-1 mb-1">
      <div class="row">
        <div class="col-md-4">
          
          <button type="button" class="btn btn-link btn-primary">
            <i class="fa-solid fa-pencil"></i>&nbsp; Modifier</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn  btn-link btn-danger text-danger">
            <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer</button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link btn-primary">
            <i class="fa-solid fa-rectangle-list"></i>&nbsp;Detail</button>
        </div>
      </div>
    </div>
</div>
