<div class="container my-container">
    <div class="card justify-content-md-center">
      <div class="card-header text-center">
       <h2 >S'incrire</h2> 
      </div>
     <div class="card-body">
      <div class=" mb-3">
        <input type="Nom" class="form-control" placeholder="Nom">
      </div>
      <div class=" mb-3">
        <input type="Code fiscal" class="form-control" placeholder="Code fiscal">
      </div>
      <div class=" mb-3">
        <input type="email" class="form-control" placeholder="E-mail">
      </div>
      <div class=" mb-3">
        <input type="Adresse 1" class="form-control" placeholder="Adresse 1">
      </div>
      <div class=" mb-3">
        <input type="Adresse 2" class="form-control" placeholder="Adresse 2">
      </div>
      <div class=" mb-3">
        <input type="Ville" class="form-control" placeholder="Ville">
      </div>
      <div class=" mb-3">
        <input type="Code postal" class="form-control" placeholder="Code postal">
      </div>
      <div class=" mb-3">
        <input type="Mot de passe" class="form-control" placeholder="Mot de pasee">
      </div>
      <div class=" mb-3">
        <input type="Confirmer mot de passe" class="form-control" placeholder="Confirmer mot de passe">
      </div>
    
      <div class="mb-3 d-flex justify-content-between">
        
          <a [routerLink]="['/login']" class="btn btn-link">Se connecter</a>
          <button type="button" class="btn btn-primary"><i class="fas fa-check"></i>&nbsp;S'incrire</button>
     </div>
    </div>
    </div>
  </div>
